<!DOCTYPE html>
<html>
	<head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/Swagger-JSON-Schema-In-YAML_webversion">JSON to Swagger YAML Schema</a></li>
    		</ul>
		</nav>
		<div class="container">
            {{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="https://github.com/adliih">github.com/adliih</a></li>
			</ul>
		</footer>
	</body>
</html>
